<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="/assets/logo.png" class="logo"></ion-img>
      Tasty Pie
      <ion-badge *ngIf="pizzas$ | async as pizzas" color="primary">{{pizzas.length || 0}}</ion-badge>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="pizzas$ | async as pizzas else loadingPizzas">
    <ng-container *ngIf="pizzas.length else noPizzas">
      <ion-row class="ion-text-center">
        <ion-col size="6" *ngFor="let pizza of pizzas" (press)="toggleShowRemove()">
          <ion-card no-margin>
            <ion-img [src]="pizza.image.url" (click)="viewDetail(pizza)"></ion-img>
            <ion-badge *ngIf="showRemoveControl" color="danger" (click)="removePizza(pizza)">
              <ion-icon name="trash"></ion-icon>
            </ion-badge>
            <ion-card-content class="ion-text-left">
              <h2>
                <ion-text color="primary">{{pizza.name}}</ion-text>
              </h2>
              <ion-text>${{pizza.price || 0}}</ion-text>
            </ion-card-content>

            <ion-fab vertical="bottom" horizontal="end">
              <ion-fab-button size="small" color="secondary">
                <ion-icon name="md-more"></ion-icon>
              </ion-fab-button>

              <ion-fab-list side="top">
                <ion-fab-button size="small" color="primary" (click)="editPizza(pizza)">
                  <ion-icon name="create" class="icon-custom-size"></ion-icon>
                </ion-fab-button>
                <ion-fab-button size="small" color="danger" (click)="removePizza(pizza)">
                  <ion-icon name="trash" size="large"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ng-container>

  <ng-template #loadingPizzas>
    <ion-progress-bar type="indeterminate" color="tertiary"></ion-progress-bar>
  </ng-template>
  <ng-template #noPizzas>
    <app-cloud-message emoji="crumbs" class="fill">
      <h1 no-margin>
        <ion-text color="danger">Umm sorry.</ion-text>
      </h1>
      <p no-margin>Looks like you don't have any pizzas</p>
      <!--<ion-note margin-top>Hint: Then try again to see if the camera activates.</ion-note>-->
    </app-cloud-message>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createPizza()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
