ion-col > ion-card {
  ion-badge {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
  }

  ion-img {
    cursor: pointer;
  }
}


.icon-custom-size {
  font-size: 25px;
  margin-top: -3px;
}
