<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="/assets/logo.png" class="logo"></ion-img>
      Tasty Pie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Pizzas!</h1>


  <ng-template #noPizzas>
    <ion-progress-bar *ngIf="loading.pizzas" color="tertiary"></ion-progress-bar>
    <ng-container *ngIf="!loading.pizzas">
      <app-cloud-message emoji="crumbs" class="fill">
        <h1 no-margin>
          <ion-text color="danger">Umm sorry.</ion-text>
        </h1>
        <p no-margin>Looks like you don't have any pizzas</p>
        <!--<ion-note margin-top>Hint: Then try again to see if the camera activates.</ion-note>-->
      </app-cloud-message>
    </ng-container>
  </ng-template>
</ion-content>
