<div class="controller">
  <div class="inner">
    <h1>Nintendo</h1>

    <span class="grey"></span>

    <div class="mid-buttons">
      <span class="select" (mousedown)="mouseDown($event, 'Select')" (touchstart)="touchStart($event,'Select')"> </span>
      <span class="start" (mousedown)="mouseDown($event, 'Start')" (touchstart)="touchStart($event,'Start')"> </span>
    </div>

    <div class="dpad">
      <span class="plus"></span>
      <span class="plus2"></span>

      <span class="thumb1" (mousedown)="mouseDown($event, 'ArrowLeft')"
            (touchstart)="touchStart($event,'ArrowLeft')"></span>
      <span class="thumb2" (mousedown)="mouseDown($event, 'ArrowUp')"
            (touchstart)="touchStart($event,'ArrowUp')"></span>
      <span class="thumb3" (mousedown)="mouseDown($event, 'ArrowRight')"
            (touchstart)="touchStart($event,'ArrowRight')"></span>
      <span class="thumb4" (mousedown)="mouseDown($event, 'ArrowDown')"
            (touchstart)="touchStart($event,'ArrowDown')"></span>
    </div>

    <span class="b" (mousedown)="mouseDown($event, 'B')" (touchstart)="touchStart($event,'B')"></span>
    <span class="a" (mousedown)="mouseDown($event, 'A')" (touchstart)="touchStart($event,'A')"></span>
  </div>
</div>
