<div class="controller">
  <div class="inner">
    <h1>Nintendo</h1>

    <span class="grey"></span>

    <div class="mid-buttons">
      <span class="select" (mousedown)="pushButton('Select')"> </span>
      <audio #selectAudio src="/assets/audio/click.mp3" type="audio/mpeg"></audio>

      <span class="start" (mousedown)="pushButton('Start')"> </span>
      <audio #startAudio src="/assets/audio/click.mp3" type="audio/mpeg"></audio>
    </div>

    <div class="dpad">
      <span class="plus"></span>
      <span class="plus2"></span>

      <span class="thumb1" (mousedown)="pushButton('ArrowLeft')"></span>
      <audio #leftAudio src="/assets/audio/click.mp3" type="audio/mpeg"></audio>

      <span class="thumb2" (mousedown)="pushButton('ArrowUp')"></span>
      <audio #upAudio src="/assets/audio/click.mp3" type="audio/mpeg"></audio>

      <span class="thumb3" (mousedown)="pushButton('ArrowRight')"></span>
      <audio #rightAudio src="/assets/audio/click.mp3" type="audio/mpeg"></audio>

      <span class="thumb4" (mousedown)="pushButton('ArrowDown')"></span>
      <audio #downAudio src="/assets/audio/click.mp3" type="audio/mpeg"></audio>
    </div>

    <span class="b" (mousedown)="pushButton('B')"></span>
    <audio #bAudio src="/assets/audio/click.mp3" type="audio/mpeg"></audio>

    <span class="a" (mousedown)="pushButton('A')"></span>
    <audio #aAudio src="/assets/audio/click.mp3" type="audio/mpeg"></audio>
  </div>
</div>
