.bg {
  filter: blur(3px) brightness(80%) contrast(100%) opacity(55%);
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 800;
  + div {
    position: relative;
    z-index: 900;
  }
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 ion-img.logo {
  padding-right: 10px;
  font-weight: bold;
}

ion-content {
  --background: none;
}
