<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-img src="/assets/logo.png" class="logo"></ion-img>
            Tasty Pie
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="toppings$ | async as toppings; else noToppings">
        You got toppings
        <pre>{{toppings|json}}</pre>
    </ng-container>

    <ng-template #noToppings>
        WAT!
    </ng-template>
</ion-content>
