<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="/assets/logo.png" class="logo"></ion-img>
      Tasty Pie
      <ion-badge *ngIf="toppings$ | async as toppings" color="primary">{{toppings.length || 0}}</ion-badge>
    </ion-title>
    <ion-button slot="end" no-margin [disabled]="displayMode === 'grid'" (click)="setDisplayMode('grid')">
      <ion-icon name="md-apps" size="large"></ion-icon>
    </ion-button>
    <ion-button slot="end" no-margin [disabled]="displayMode === 'list'" (click)="setDisplayMode('list')">
      <ion-icon name="list" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="toppings$ | async as toppings else loadingToppings">
    <ng-container *ngIf="toppings.length && toppingsGroupByType$ | async as toppingsByType else noToppings">
      <ion-list lines="none">
        <ng-container *ngFor="let toppingGroup of toppingsByType">
          <ion-list-header>
            <ion-text color="primary">{{toppingGroup.type}}</ion-text>
          </ion-list-header>

          <ng-container *ngIf="displayMode === 'grid'">
            <ion-row class="ion-text-center">
              <ion-col size="6" *ngFor="let topping of toppingGroup.toppings" (press)="toggleShowRemove()">
                <ion-card no-margin>
                  <ion-img [src]="topping.image.url"></ion-img>
                  <ion-badge *ngIf="showRemoveControl" color="danger" (click)="removeTopping(topping)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-badge>
                  <ion-card-content class="ion-text-left">
                    <h2>
                      <ion-text color="primary">{{topping.name}}</ion-text>
                    </h2>
                  </ion-card-content>

                  <ion-fab vertical="bottom" horizontal="end">
                    <ion-fab-button size="small" color="secondary">
                      <ion-icon name="md-more"></ion-icon>
                    </ion-fab-button>

                    <ion-fab-list side="top">
                      <ion-fab-button size="small" color="primary" (click)="editTopping(topping)">
                        <ion-icon name="create" class="icon-custom-size"></ion-icon>
                      </ion-fab-button>
                      <ion-fab-button size="small" color="danger" (click)="removeTopping(topping)">
                        <ion-icon name="trash" size="large"></ion-icon>
                      </ion-fab-button>
                    </ion-fab-list>
                  </ion-fab>
                </ion-card>
              </ion-col>
            </ion-row>
          </ng-container>


          <ng-container *ngIf="displayMode === 'list'">
            <ion-item-sliding *ngFor="let topping of toppingGroup.toppings">
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img [src]="topping.image.url"></ion-img>
                </ion-avatar>
                <ion-label>{{topping.name}}</ion-label>
              </ion-item>

              <ion-item-options side="start">
                <ion-item-option (click)="editTopping(topping)">
                  <ion-icon name="create" size="large"></ion-icon>
                </ion-item-option>
              </ion-item-options>

              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="removeTopping(topping)">
                  <ion-icon name="trash" size="large"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ng-container>
        </ng-container>
      </ion-list>
    </ng-container>
  </ng-container>

  <ng-template #loadingToppings>
    <ion-progress-bar type="indeterminate" color="tertiary"></ion-progress-bar>
  </ng-template>
  <ng-template #noToppings>
    <app-pizza-message emoji="crumbs" class="fill">
      <h1 no-margin>
        <ion-text color="danger">Umm sorry.</ion-text>
      </h1>
      <p no-margin>Looks like you don't have any ingredients</p>
      <!--<ion-note margin-top>Hint: Then try again to see if the camera activates.</ion-note>-->
    </app-pizza-message>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createTopping()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
