<ion-header>
  <ion-toolbar>
    <ion-title>Topping Editor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <form [formGroup]="toppingFormGroup" flex-row>
    <!--TODO ngIf no photo-->
    <div formGroupName="image" class="image-group">
      <ion-img class="a" *ngIf="dataUrlFormControl.value else noImage" [src]="dataUrlFormControl.value"></ion-img>

      <ng-template #noImage>
        <app-camera-pad *ngIf="!toppingDataUrl" (photoCaptured)="processPhoto($event)"></app-camera-pad>
        <ion-img *ngIf="toppingDataUrl" [src]="toppingDataUrl"
                 [class.scanning]="loading.toppingValidation"></ion-img>
      </ng-template>
      <ion-input type="hidden" formControlName="dataUrl"></ion-input>
    </div>

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input formControlName="name" placeholder="e.g. Pineapple" clearInput required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-select formControlName="type" placeholder="Choose..." required>
        <ion-select-option *ngFor="let key of objectKeys(toppingTypes)"
                           [value]="toppingTypes[key]">{{key}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!--<div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>-->
    <div flex-row style="flex: 1; height: 100%;">&nbsp;</div>
    <ion-progress-bar *ngIf="loading.toppingUpdate" type="indeterminate" color="tertiary"></ion-progress-bar>
    <ion-button color="success" size="full" (click)="save()" [disabled]="loading.toppingUpdate">Save</ion-button>
  </form>
</ion-content>

