<ion-header>
  <ion-toolbar>
    <ion-title>Topping Editor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="toppingFormGroup" flex-row>
    <div flex flex-grow [class.fix-loading-bottom]="!loading.toppingImage">
      <ion-item-sliding *ngIf="urlFormControl?.value || tempImageData else noImage">
        <ion-item lines="none" no-padding no-margin flex>
          <ion-img [src]="urlFormControl?.value || tempImageData"
                   [class.scanning]="loading.toppingValidation"></ion-img>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeImage()">
            <ion-icon name="trash" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ng-template #noImage>
<!--        <app-camera-pad (photoCaptured)="processDataUrl($event)"></app-camera-pad>-->
        <app-file-upload-zone (files)="processFile($event)"></app-file-upload-zone>
      </ng-template>
    </div>
    <ion-progress-bar *ngIf="loading.toppingImage" type="indeterminate" color="tertiary"></ion-progress-bar>

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input formControlName="name" placeholder="e.g. Pineapple" clearInput required></ion-input>
    </ion-item>

    <ion-item [class.fix-loading-bottom]="!loading.toppingUpdate">
      <ion-label position="stacked">Type</ion-label>
      <ion-select formControlName="type" placeholder="Choose..." required>
        <ion-select-option *ngFor="let key of objectKeys(toppingTypes)"
                           [value]="toppingTypes[key]">{{key}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!--<div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>-->
    <ion-progress-bar *ngIf="loading.toppingUpdate" type="indeterminate" color="tertiary"></ion-progress-bar>
    <ion-button color="success" size="full" (click)="save()" [disabled]="loading.toppingUpdate">Save</ion-button>
  </form>
</ion-content>

