// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

ion-img.logo {
  width: 40px;
  display: inline-block;
}


ion-title {
  text-align: center;

  ion-img.logo {
    width: 26px;
    top: 10px;
    margin-bottom: -10px;
  }
}

[flex] {
  display: flex;
}

[flex-row] {
  display: flex;
  flex-direction: column;
}


.cloud-message {
  display: flex;
  flex-direction: column;

  height: 100%;
}

ion-list-header, ion-badge {
  font-family: var(--lato);
}


.nes-controller.mat-bottom-sheet-container {
  width: 100vw;
  padding: 0;
  overflow: hidden;
}

ion-toast {
  &.annoyed {
    --ion-color-base: var(--ion-color-danger, #f04141) url('/assets/pizza/annoyed.svg') 80% center/55px 55px no-repeat !important;
  }

  &.eyebrow {
    --ion-color-base: var(--ion-color-secondary, #0cd1e8) url('/assets/pizza/eyebrow.svg') 80% center/55px 55px no-repeat !important;
  }

  &.crumbs {
    --ion-color-base: var(--ion-color-secondary, #0cd1e8) url('/assets/pizza/crumbs.svg') 80% center/55px 55px no-repeat !important;
  }

  &.cloud-crumbs {
    --ion-color-base: var(--ion-color-secondary, #0cd1e8) url('/assets/clouds/crumbs.svg') 80% center/55px 55px no-repeat !important;
  }

  &.wink {
    --ion-color-base: var(--ion-color-success, #10dc60) url('/assets/pizza/wink.svg') 80% center/55px 55px no-repeat !important;
  }

  &.shocked {
    --ion-color-base: var(--ion-color-danger, #f04141) url('/assets/pizza/shocked.svg') 80% center/55px 55px no-repeat !important;
  }
}

.toast-message {
  -webkit-padding-start: 44px !important;
  padding-inline-start: 44px !important;
}

.scanning {
  position: relative;
}

.scanning:after {
  content: '';
  /* make the element cover the whole thing */
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* and sit in front */
  z-index: 1;
  /* gradient with a radar like fade */
  /* make it big enough so when we slide it around still covers whole image */
  background-size: 300% 100%;
  /* start with the scan bar just off the left side */
  background: linear-gradient(90deg,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 1) 50%,
          rgba(var(--ion-color-tertiary-rgb), .5) 55%,
          rgba(var(--ion-color-tertiary-rgb), 1) 56%,
          rgba(0, 0, 0, 1) 56%,
          rgba(0, 0, 0, 1)
  );
  /* make it big enough so when we slide it around still covers whole image */
  background-size: 300% 100%;
  background-repeat: no-repeat;
  /* start with the scan bar just off the left side */
  background-position: 84% center;

  animation: scan 5s infinite ease;
}

@keyframes scan {
  /* finish with the scan bar just off the right side */
  100% {
    background-position: 25% center;
  }
}
